# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
logs/

# Build outputs
dist/
build/
coverage/

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temp files
*.tmp
*.temp
*.bak
*.backup

# Misc
*.tsbuildinfo